.cblock0 {
  background-color: #fff4ebff;
  opacity: 1;
  flex-direction: row;
  display: flex;
  width: 17.55rem;
  justify-content: flex-start;
  padding-top: 0.32rem;
  padding-left: 0.24rem;
  padding-right: 0.24rem;
  align-items: flex-start;
  .cblock1 {
    flex-direction: row;
    margin-bottom: 0.32rem;
    display: flex;
    width: 3.7rem;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    height: 0.32rem;
  }
  .cblock2 {
    background-color: #ff6600ff;
    opacity: 1;
    flex-direction: row;
    width: 0.1rem;
    height: 1.6rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    margin-right: 0.16rem;
  }
  .ctext0 {
    font-size: 0.32rem;
    color: #333333ff;
  }
  .cblock3 {
    flex-direction: column;
    width: 2.8rem;
    display: flex;
    justify-content: space-between;
    height: 0.88rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: stretch;
    margin-right: 0.32rem;
  }
  .cblock4 {
    flex-direction: row;
    align-self: stretch;
    display: flex;
    width: 17.55rem;
    justify-content: space-between;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: center;
    height: 0.28rem;
  }
  .ctext3 {
    opacity: 1;
    font-size: 0.32rem;
    color: #333333ff;
  }
  .cblock5 {
    flex-direction: column;
    width: 5.6rem;
    display: flex;
    justify-content: flex-start;
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-start;
  }
  .ctext3 {
    font-size: 0.28rem;
    color: #a3a3a3ff;
    margin-bottom: 0.16rem;
  }
  .ctext4 {
    font-size: 0.28rem;
    color: #a3a3a3ff;
    margin-bottom: 0.16rem;
    align-self: stretch;
  }
  .ctext8 {
    font-size: 0.28rem;
    color: #a3a3a3ff;
  }
  .cblock6 {
    flex-direction: row;
    margin-bottom: 0.16rem;
    align-self: stretch;
    display: flex;
    width: 17.55rem;
    justify-content: space-between;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: center;
    height: 0.28rem;
  }
  .cblock7 {
    flex-direction: column;
    width: 5.6rem;
    display: flex;
    justify-content: space-between;
    height: 0.72rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-start;
  }
  .ctext9 {
    font-size: 0.28rem;
    color: #a3a3a3ff;
    align-self: stretch;
  }
}