.cblock0 {
  background-color: #f5f5f5ff;
  flex-direction: column;
  width: 18.75rem;
  display: flex;
  justify-content: flex-start;
  padding-top: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  align-items: stretch;
  .cblock1 {
    flex-direction: column;
    width: 18.75rem;
    display: flex;
    justify-content: space-between;
    height: 17.4rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: center;
    margin-bottom: 0.2rem;
  }
  .cblock2 {
    opacity: 1;
    background-image: url("/img/img10.png");
    flex-direction: row;
    align-self: stretch;
    display: flex;
    width: 18.75rem;
    justify-content: flex-start;
    padding-left: 0.24rem;
    align-items: stretch;
    padding-top: 0.62rem;
    padding-bottom: 0.82rem;
  }
  .cblock3 {
    flex-direction: row;
    display: flex;
    width: 16rem;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    height: 1.28rem;
  }
  .cimg0 {
    opacity: 1;
    width: 1.28rem;
    height: 1.28rem;
    margin-right: 0.26rem;
  }
  .cblock4 {
    padding-top: 0.28rem;
    flex-direction: row;
  }
  .cblock5 {
    flex-direction: column;
    width: 12.15rem;
    display: flex;
    justify-content: space-between;
    height: 0.76rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-start;
  }
  .ctext0 {
    opacity: 1;
    font-size: 0.36rem;
    color: #ffffffff;
  }
  .ctext1 {
    opacity: 1;
    font-size: 0.24rem;
    color: #ffffffff;
    align-self: stretch;
  }
  .cblock6 {
    margin-top: -0.28rem;
    flex-direction: row;
  }
  .cblock7 {
    flex-direction: column;
    width: 17.65rem;
    display: flex;
    justify-content: space-between;
    height: 14.96rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-start;
  }
  .cblock8 {
    padding-left: 0.04rem;
    flex-direction: row;
    align-self: stretch;
  }
  .cblock9 {
    flex-direction: column;
    width: 17.55rem;
    display: flex;
    justify-content: space-between;
    height: 5.44rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: stretch;
  }
  .cblock10 {
    background-color: #ffffffff;
    opacity: 1;
    border-radius: 0.12rem;
    flex-direction: row;
    display: flex;
    width: 17.55rem;
    justify-content: center;
    align-items: stretch;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
  }
  .cblock11 {
    flex-direction: row;
    display: flex;
    width: 15.6rem;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    height: 1.28rem;
  }
  .cblock12 {
    flex-direction: column;
    width: 2.2rem;
    display: flex;
    justify-content: space-between;
    height: 1.28rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: stretch;
    margin-right: 0.88rem;
  }
  .cimg4 {
    opacity: 1;
    width: 0.88rem;
    height: 0.88rem;
  }
  .cblock17 {
    padding-left: 0.08rem;
    flex-direction: row;
  }
  .ctext5 {
    opacity: 1;
    font-size: 0.24rem;
    color: #333333ff;
  }
  .cblock14 {
    flex-direction: column;
    width: 2.2rem;
    display: flex;
    justify-content: space-between;
    height: 1.28rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: stretch;
    margin-right: 0.86rem;
  }
  .cblock16 {
    flex-direction: column;
    width: 2.2rem;
    display: flex;
    justify-content: space-between;
    height: 1.28rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: stretch;
    margin-right: 0.78rem;
  }
  .cblock18 {
    padding-top: 0rem;
    flex-direction: row;
  }
  .cblock19 {
    flex-direction: column;
    width: 2.7rem;
    display: flex;
    justify-content: space-between;
    height: 1.24rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: stretch;
  }
  .cblock20 {
    padding-left: 0.1rem;
    flex-direction: row;
  }
  .cblock21 {
    background-color: #ffffffff;
    opacity: 1;
    border-radius: 0.12rem;
    flex-direction: row;
    display: flex;
    width: 17.55rem;
    justify-content: center;
    align-items: stretch;
    padding-top: 0rem;
    padding-bottom: 0.24rem;
  }
  .cblock22 {
    flex-direction: column;
    width: 17.55rem;
    display: flex;
    justify-content: space-between;
    height: 2.88rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: stretch;
  }
  .cblock23 {
    background-color: #ffffffff;
    opacity: 1;
    border-radius: 0rem;
    flex-direction: row;
    display: flex;
    width: 17.55rem;
    justify-content: center;
    align-items: center;
    height: 0.96rem;
  }
  .cblock24 {
    flex-direction: row;
    display: flex;
    width: 16.35rem;
    justify-content: space-between;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: center;
    height: 0.32rem;
  }
  .ctext6 {
    opacity: 1;
    font-size: 0.32rem;
    color: #333333ff;
  }
  .cblock25 {
    padding-top: 0.04rem;
    flex-direction: row;
  }
  .cblock26 {
    flex-direction: row;
    display: flex;
    width: 3.5rem;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    height: 0.24rem;
  }
  .ctext7 {
    opacity: 1;
    font-size: 0.24rem;
    color: #b3b3b3ff;
    margin-right: 0.12rem;
  }
  .cblock27 {
    padding-top: 0.02rem;
    flex-direction: row;
  }
  .cimg5 {
    opacity: 1;
    width: 0.08rem;
    height: 0.2rem;
  }
  .cblock39 {
    padding-left: 0.24rem;
    flex-direction: row;
  }
  .cblock29 {
    flex-direction: row;
    display: flex;
    width: 16.35rem;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    height: 1.92rem;
  }
  .cblock30 {
    background-image:linear-gradient(to left, #5bacfcff,#3c75faff);
    opacity: 1;
    border-radius: 0.12rem;
    flex-direction: row;
    display: flex;
    width: 8rem;
    justify-content: flex-start;
    padding-left: 0.24rem;
    align-items: stretch;
    padding-top: 0.32rem;
    padding-bottom: 0.24rem;
    margin-right: 0.14rem;
  }
  .cblock34 {
    flex-direction: column;
    width: 7.3rem;
    display: flex;
    justify-content: space-between;
    height: 1.36rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-start;
  }
  .ctext8 {
    opacity: 1;
    font-size: 0.28rem;
    color: #ffffffff;
    align-self: stretch;
  }
  .cblock32 {
    flex-direction: column;
    width: 2.4rem;
    display: flex;
    justify-content: space-between;
    height: 0.92rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: stretch;
  }
  .ctext9 {
    opacity: 1;
    font-size: 0.32rem;
    color: #fff684ff;
  }
  .ctext10 {
    opacity: 0.5;
    font-size: 0.24rem;
    color: #ffffffff;
  }
  .cblock33 {
    background-image:linear-gradient(to left, #5bacfcff,#3c75faff);
    opacity: 1;
    border-radius: 0.12rem;
    flex-direction: row;
    display: flex;
    width: 8rem;
    justify-content: flex-start;
    padding-left: 0.24rem;
    align-items: stretch;
    padding-top: 0.32rem;
    padding-bottom: 0.24rem;
  }
  .cblock35 {
    flex-direction: column;
    width: 3.5rem;
    display: flex;
    justify-content: space-between;
    height: 0.92rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-start;
  }
  .ctext13 {
    opacity: 0.5;
    font-size: 0.24rem;
    color: #ffffffff;
    align-self: stretch;
  }
  .cblock36 {
    border-color: #979797ff;
    border-width: 0.02rem;
    background-color: #ffffffff;
    opacity: 1;
    border-radius: 0.12rem;
    flex-direction: row;
    display: flex;
    width: 17.55rem;
    justify-content: center;
    align-items: stretch;
    padding-top: 0rem;
    padding-bottom: 0.24rem;
  }
  .cblock37 {
    flex-direction: column;
    width: 17.55rem;
    display: flex;
    justify-content: space-between;
    height: 9.04rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: stretch;
  }
  .cblock38 {
    background-color: #ffffffff;
    opacity: 1;
    border-radius: 0rem;
    flex-direction: row;
    display: flex;
    width: 17.55rem;
    justify-content: flex-start;
    padding-left: 0.22rem;
    align-items: stretch;
    padding-top: 0.34rem;
    padding-bottom: 0.3rem;
  }
  .cblock40 {
    flex-direction: column;
    width: 16.35rem;
    display: flex;
    justify-content: space-between;
    height: 8.08rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: stretch;
  }
  .cblock41 {
    flex-direction: column;
    width: 16.35rem;
    display: flex;
    justify-content: flex-start;
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: stretch;
  }
  .cblock45 {
    flex-direction: row;
    margin-bottom: 0.24rem;
    display: flex;
    width: 16.35rem;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    height: 1.6rem;
  }
  .cimg8 {
    opacity: 1;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.24rem;
  }
  .cblock53 {
    padding-top: 0.08rem;
    flex-direction: row;
  }
  .cblock54 {
    flex-direction: column;
    width: 11.75rem;
    display: flex;
    justify-content: space-between;
    height: 1.44rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-start;
  }
  .ctext21 {
    opacity: 1;
    font-size: 0.28rem;
    color: #333333ff;
    align-self: stretch;
  }
  .ctext22 {
    opacity: 1;
    font-size: 0.32rem;
    color: #ff6600ff;
  }
  .cblock48 {
    flex-direction: row;
    margin-bottom: 0.22rem;
    display: flex;
    width: 16.35rem;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    height: 1.6rem;
  }
  .cblock51 {
    padding-left: 0.02rem;
    flex-direction: row;
  }
  .cblock52 {
    flex-direction: row;
    display: flex;
    width: 16.3rem;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    height: 1.6rem;
  }
  .cimg9 {
    opacity: 1;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.22rem;
  }
  .cblock55 {
    background-color: #fff2e7ff;
    opacity: 1;
    border-radius: 0.08rem;
    flex-direction: row;
    display: flex;
    width: 16.35rem;
    justify-content: center;
    align-items: center;
    height: 0.72rem;
  }
  .ctext23 {
    opacity: 1;
    font-size: 0.28rem;
    color: #ff6600ff;
  }
  .cblock56 {
    padding-left: 1.74rem;
    flex-direction: row;
  }
  .ctext24 {
    opacity: 1;
    font-size: 0.24rem;
    color: #b3b3b3ff;
  }
}