.cblock0 {
  flex-direction: column;
  width: 18.75rem;
  display: flex;
  justify-content: space-between;
  height: 3.68rem;
  padding-left: 0rem;
  padding-right: 0rem;
  align-items: stretch;
  .cblock1 {
    background-color: #ffffffff;
    opacity: 1;
    flex-direction: row;
    display: flex;
    width: 18.75rem;
    justify-content: center;
    align-items: stretch;
    padding-top: 0.32rem;
    padding-bottom: 0.28rem;
  }
  .cblock2 {
    flex-direction: column;
    width: 17.55rem;
    display: flex;
    justify-content: space-between;
    height: 2.68rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: stretch;
  }
  .cblock3 {
    background-color: #fff4ebff;
    opacity: 1;
    flex-direction: row;
    display: flex;
    width: 17.55rem;
    justify-content: center;
    align-items: center;
    height: 1.6rem;
  }
  .cblock4 {
    flex-direction: row;
    display: flex;
    width: 16.75rem;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    height: 1.6rem;
  }
  .cblock5 {
    background-color: #ff6600ff;
    opacity: 1;
    flex-direction: row;
    width: 0.1rem;
    height: 1.6rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    margin-right: 0.28rem;
  }
  .cblock6 {
    flex-direction: column;
    width: 2.8rem;
    display: flex;
    justify-content: space-between;
    height: 0.88rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: stretch;
    margin-right: 0.32rem;
  }
  .cblock7 {
    flex-direction: row;
    align-self: flex-start;
    margin-left: 0.14rem;
    display: flex;
    width: 2.05rem;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    height: 0.48rem;
  }
  .ctext0 {
    opacity: 1;
    font-size: 0.32rem;
    color: #ff6600ff;
    margin-right: 0.04rem;
    align-self: flex-start;
    margin-top: 0.14rem;
  }
  .ctext1 {
    opacity: 1;
    font-size: 0.48rem;
    color: #ff6600ff;
  }
  .ctext2 {
    opacity: 1;
    font-size: 0.24rem;
    color: #333333ff;
  }
  .ctext4 {
    opacity: 1;
    font-size: 0.32rem;
    color: #333333ff;
  }
  .cblock8 {
    background-image:linear-gradient(to left, #00000000,#000000ff);
    opacity: 0.043251;
    flex-direction: row;
    width: 18.75rem;
    height: 0.4rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
  }
}