.cblock0 {
  flex-direction: column;
  padding: 0 0.24rem;
  .cblock1 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 0.96rem;
  }
  .ctext0 {
    font-size: 0.32rem;
    color: #333333ff;
  }
  .cblock2 {
    align-items: center;
  }
  .ctext1 {
    font-size: 0.24rem;
    color: #b3b3b3ff;
    margin-right: 0.12rem;
  }
  .cimg0 {
    width: 0.08rem;
    height: 0.2rem;
  }
  .cblock4 {
    flex-direction: column;
    background-color: #5BACFC;
    padding: 0.24rem;
    margin: 0 0.07rem;
    flex: 1;
  }
  .ctext5 {
    font-size: 0.28rem;
    color: #ffffffff;
    margin: 0.08rem 0 0.16rem 0;
  }
  .ctext6 {
    font-size: 0.32rem;
    color: #fff684ff;
    margin-bottom: 0.36rem;
  }
  .ctext7 {
    opacity: 0.5;
    font-size: 0.24rem;
    color: #ffffffff;
  }
}
