.cblock0 {
  background-color: #ffffffff;
  opacity: 1;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  padding-top: 0.32rem;
  padding-left: 0.24rem;
  padding-right: 0.24rem;
  align-items: stretch;
  .cblock1 {
    flex-direction: row;
    margin-bottom: 0.24rem;
    display: flex;
    justify-content: space-between;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: center;
    height: 0.24rem;
  }
  .ctext5 {
    opacity: 1;
    font-size: 0.24rem;
    color: #b3b3b3ff;
  }
  .ctext1 {
    opacity: 1;
    font-size: 0.24rem;
    color: #ff6600ff;
  }
  .cblock2 {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 2.08rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-end;
  }
  .cblock3 {
    flex-direction: row;
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    height: 1.6rem;
  }
  .cimg0 {
    opacity: 1;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.24rem;
  }
  .cblock4 {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 1.12rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-start;
    align-self: flex-start;
    margin-top: 0.08rem;
    flex: 1;
  }
  .cblock5 {
    flex-direction: row;
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    height: 0.72rem;
  }
  .ctext2 {
    opacity: 1;
    font-size: 0.28rem;
    color: #333333ff;
    margin-right: 0.3rem;
    align-self: flex-start;
    flex: 51;
  }
  .cblock6 {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 0.72rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-end;
    flex: 10;
  }
  .ctext3 {
    opacity: 1;
    font-size: 0.28rem;
    color: #333333ff;
    align-self: stretch;
  }
  .ctext4 {
    opacity: 1;
    font-size: 0.28rem;
    color: #333333ff;
  }
  .ctext6 {
    opacity: 1;
    font-size: 0.24rem;
    color: #333333ff;
  }
}