.cblock0 {
  background-color: #ffffffff;
  opacity: 1;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-left: 0.24rem;
  padding-right: 0.24rem;
  align-items: center;
  height: 0.96rem;
  .ctext0 {
    opacity: 1;
    font-size: 0.28rem;
    color: #333333ff;
  }
  .ctext1 {
    opacity: 1;
    font-size: 0.28rem;
    color: #ff6600ff;
  }
}