.cblock0 {
  flex-direction: column;
  background-color: #ffffffff;
  padding: 0.32rem 0.24rem 0 0.24rem;
  .ctext0 {
    font-size: 0.32rem;
    color: #333333ff;
    margin-bottom: 0.32rem;
    align-self: flex-start;
  }
  .cblock1 {
    margin-bottom: 0.24rem;
    align-items: center;
  }
  .cimg3 {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.24rem;
  }
  .cblock2 {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 1.44rem;
    align-items: flex-start;
  }
  .ctext1 {
    font-size: 0.28rem;
    color: #333333ff;
    align-self: stretch;
  }
  .ctext2 {
    font-size: 0.32rem;
    color: #ff6600ff;
  }
  .cblock3 {
    background-color: #fff2e7ff;
    justify-content: center;
    align-items: center;
    height: 0.72rem;
  }
  .ctext3 {
    font-size: 0.28rem;
    color: #ff6600ff;
  }
}
