/*
  行业版样式开始
*/
.hbox {
  display: flex;
}

.hbox-wrap {
  display: flex;
  flex-wrap: wrap;
}

.hbox-around {
  display: flex;
  justify-content: space-around;
}

.hbox-between {
  display: flex;
  justify-content: space-between;
}

.hbox-center {
  display: flex;
  align-items: center;
}

.hbox-vcenter {
  display: flex;
  justify-content: center;
}

.hbox-right {
  display: flex;
  justify-content: flex-end;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.vbox-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.vbox-hcenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
.f12 {
  font-size: 12px;
}

.f13 {
  font-size: 13px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.f24 {
  font-size: 24px;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.fl {
  float: left;
  display: inline;
}

.fr {
  float: right;
  display: inline;
}

.cb {
  clear: both;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.vm {
  vertical-align: middle;
}

.hidden {
  visibility: hidden;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.m30 {
  margin: 30px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb100 {
  margin-bottom: 100px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.ml50 {
  margin-left: 50px;
}

.ml100 {
  margin-left: 100px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr50 {
  margin-right: 50px;
}

.mr100 {
  margin-right: 100px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p30 {
  padding: 30px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt50 {
  padding-top: 50px;
}

.pt100 {
  padding-top: 100px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb100 {
  padding-bottom: 100px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

.pl50 {
  padding-left: 50px;
}

.pl100 {
  padding-left: 100px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pr50 {
  padding-right: 50px;
}

.pr100 {
  padding-right: 100px;
}
.t-default {
  color: #333;
}
.t-decoration-none {
  text-decoration: none;
  &:focus {
    text-decoration: none;
  }
}
.t-normal {
  color: #666;
}
.t-grey {
  color: #b3b3b3;
}
.t-red {
  color: @error-color;
}
.content {
  width: 1100px;
  margin: 0 auto;
  background-color: #fff;
}

.contentBox {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

.one-line{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.logo {
  display: block;
  width: 160px;
  height: auto;
  img {
    width: 100%;
    height: 100%;
  }
}
.formContent {
  width: 900px;
}
.AppTitle {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-weight: 500;
  margin-bottom: 20px;
}
.opt-more {
  width: 80px;
  text-align: center;
  a {
    display: block;
    color: #333;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.opt {
  .btn {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    &.btn-full{
      background-color: @main-color;
      color: #fff;
      display: inline-block;
      padding: 0 12px;
      line-height: 30px;
      height: 30px;
      text-align: center;
    }
    &.btn-ghost{
      background-color: transparent;
      color: @main-color;
      border: 1px solid @main-color;
      display: inline-block;
      padding: 0 12px;
      line-height: 30px;
      height: 30px;
      text-align: center;
    }
  }
  .del {
    color: @error-color;
  }
}
.ant-btn.ant-btn-ghost{
  color: @main-color;
  border-color: @main-color;
}
.roleCheckBg {
  background-color: #f5f5f5;
  height: 50px;
}
.roleCheck {
  border: 1px solid #eee;
  padding-bottom: 20px;
  &.roleCheckError {
    border-color: @error-color;
  }
  .roleCheckbox {
    float: left;
    width: 130px;
    margin-left: 30px;
    margin-top: 5px;
    > div {
      margin-top: 20px;
    }
  }
}
.pet-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  .left-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
      margin-right: 20px;
    }
    strong {
      font-size: 16px;
      border-left: 1px solid #eee;
      padding-left: 20px;
      height: 30px;
      line-height: 30px;
    }
  }
  .right-item {
    font-size: 14px;
  }
}
.normal-title {
  width: 100%;
  margin: 20px 0;
  padding: 5px 10px;
  background-color: #eee;
}

.avatarLoad {
  text-align: center;
  > span {
    display: inline-block;
  }
  .ant-upload.ant-upload-select-picture-card {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #eee;
    padding: 0;
    margin: 0;
    border: none;
  }
  .ant-upload.ant-upload-select-picture-card > .ant-upload {
    padding: 0;
    border-radius: 50%;
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }
  .avatarImg {
    width: 100%;
    height: 100%;
    position: relative;
    .editImg {
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
    }
  }
}
.customerHeader {
  .img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
  }
  .gender {
    display: inline-block;
    height: 18px;
    line-height: 16px;
    margin: 0 3px;
    padding: 0 3px;
    font-size: 12px;
    color: @sec-color;
    border: 1px solid @sec-color;
  }
  .itemInfo {
    max-width: 400px;
    > p:first-child {
      span {
        vertical-align: middle;
      }
    }
  }
}
.card-preview {
  text-align: center;
  .code {
    width: 180px;
    height: 180px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.cashierMain {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background: #f8f8f8;
  position: relative;
  &.cashierOtherMain {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    height: inherit;
    background-color: transparent;
  }
  .cart {
    display: flex;
    flex-direction: column;
    width: 26.8%;
    min-width: 400px;
    height: calc(100vh - 84px);
    border: 1px solid #ebebeb;
    margin-right: 1.3%;
    &.grayCart {
      background-color: rgba(238, 238, 238, 0.6);
    }
  }
  .cashier-content {
    display: flex;
    flex-direction: column;
    width: 72%;
    background: #fff;
    height: calc(100vh - 84px);
  }
  .cashier-header {
    padding: 20px;
    .cashier-title {
      font-weight: bold;
      font-size: 18px;
      color: #333;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.contentBottom {
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  li {
    cursor: pointer;
    float: left;
    width: 23%;
    height: 60px;
    border: 1px solid #ff6600;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    span {
      font-size: 14px;
      color: #ff6600;
    }
    .span1 {
      display: block;
    }
    .span2 {
      display: block;
    }
  }
}
.priceInput{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    width: 40%;
    max-width: 500px;
    min-width: 400px;
  }
}
.goodsSpec{
  .goodsSpecItems{
    .specItem{
      display: inline-block;
      padding: 10px 20px;
      border: 1px solid #ddd;
      color: #333;
      margin-right: 10px;
      &.active{
        color: @main-color;
        border-color: @main-color;
      }
      &.disable{
        color: #999;
        background-color: #eee;
        border-color: #eee;
      }
    }
  }
}
.shop-choose {
  text-align: center;
  padding: 0 30px;
  .slideStore {
    cursor: pointer;
    width: 226px;
    margin: 0 25px;
    border-radius: 10px;
    height: 266px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    position: relative;
    .stores{
      position: absolute;
      top: 0;
      right: 20px;
      padding: 3px 10px;
      color: #fff;
      display: inline-block;
      background-color: #FF6600;
    }
    .cardImg {
      width: 100px;
      height: 100px;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .card-btn {
      margin-top: 10px;
      height: 36px;
      padding: 0 15px;
      line-height: 36px;
      background-color: #ddd;
      border-radius: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      > span {
        display: inline-block;
        padding: 0 10px;
        line-height: 1;
        border-right: 1px solid #999;
        &:last-child {
          border-right: 0;
        }
      }
    }
  }
  .ant-carousel .slick-prev,
  .ant-carousel .slick-next {
    font-size: 12px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    background-color: #999;
    overflow: hidden;
    color: #fff;
    z-index: 999;
    &:before{
      display: block;
      width: 100%;
      height: 100%;
      line-height: 40px;
      text-align: center;
      font-size: 16px;
    }
    &.slick-disabled{
      display: none!important;
    }
  }
  .ant-carousel .slick-next{
    right: -48px;
  }
  .ant-carousel .slick-prev{
    left: -48px;
  }
}
.tags{
  display: inline-block;
  color: @main-color;
  border:1px solid @main-color;
  height: 20px;
  line-height: 18px;
  font-size: 12px;
  padding: 0 8px;
  margin-right: 10px;
  &.tags-grey{
    color: #999;
    background-color: #eee;
    border-color: #eee;
  }
  &.tags-full{
    background-color: @main-color;
    color: #fff;;
  }
}
.autoRolling{
  height: 100vh;
  overflow: auto;
  .contentLogin{
    height: 100%;
  }
}

.searchItems{
  >.ant-row{
    margin-bottom: 10px;
  }
}
.prewImg{
  img{
    max-width: 500px;
    max-height: 300px;
  }
}

//预约中心-start
.sendSampleIn {
  margin-top: 16px;
  .item {
    height: 20px;
    padding: 0 8px;
    line-height: 20px;
    display: inline-block;
    color: #b3b3b3;
    font-size: 12px;
    margin-right: 8px;
    border-radius: 10px;
    background-color: #f5f5f5;
    margin-bottom: 4px;
    &.active {
      background-color: @main-color;
      color: #fff;
    }
  }
}
.ctItemsBox {
}
.ctItems {
  background-color: #fafafa;
  padding: 10px;
  position: relative;
  &.overdue{
    &::after {
      content: '已过期';
      position: absolute;
      top: 0;
      right: 12px;
      width: 46px;
      height: 16px;
      text-align: center;
      line-height: 16px;
      color: #fff;
      font-size: 12px;
      background: #b3b3b3;
      border-radius: 0px 0px 2px 2px;
    }
  }
  .btn-bottom {
    text-align: right;
  }
  .petImg {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 4px;
  }
  .petImgInfo{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }
  .ctImgBox {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .makeProject{
    .t-item{
      &::after{
        content: '+';
      }
      &:last-child{
        &::after{
          content: '';
        }
      }
    }
  }
}
//预约中心-end