.cblock0 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0.32rem 0.24rem 0 0.24rem;
  background-color: #ffffffff;
  .cblock1 {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.16rem;
    height: 0.32rem;
  }
  .cblock2 {
    justify-content: flex-start;
    align-items: center;
    margin-right: 0.16rem;
    width: 0.04rem;
    height: 0.32rem;
    background-color: #ff6600ff;
  }
  .cblock3 {
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    margin: 0.16rem 0;
  }
  .ctext0 {
    font-size: 0.32rem;
    color: #333333ff;
  }
  .ctext1 {
    font-size: 0.28rem;
    color: #333333ff;
  }
  .ctext2 {
    font-size: 0.28rem;
    color: #a3a3a3ff;
    margin-bottom: 0.16rem;
  }
}
