.cblock0 {
  background-color: #ffffffff;
  opacity: 1;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  padding-top: 0.32rem;
  padding-left: 0.24rem;
  padding-right: 0.24rem;
  align-items: stretch;
  .cblock1 {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 2.24rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-start;
    margin-bottom: 0.32rem;
  }
  .cblock2 {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    height: 0.32rem;
  }
  .cblock3 {
    background-color: #ff6600ff;
    opacity: 1;
    flex-direction: row;
    width: 0.04rem;
    height: 0.32rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 0rem;
    align-items: center;
    margin-right: 0.16rem;
  }
  .ctext0 {
    opacity: 1;
    font-size: 0.32rem;
    color: #333333ff;
    flex: 1;
  }
  .cblock4 {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 1.6rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-start;
    align-self: stretch;
  }
  .cblock9 {
    flex-direction: row;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: center;
    height: 0.28rem;
  }
  .ctext7 {
    opacity: 1;
    font-size: 0.28rem;
    color: #333333ff;
  }
  .cblock8 {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 1.16rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-start;
  }
  .ctext8 {
    opacity: 1;
    font-size: 0.28rem;
    color: #a3a3a3ff;
  }
  .cblock7 {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 0.72rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-start;
    align-self: stretch;
  }
  .ctext9 {
    opacity: 1;
    font-size: 0.28rem;
    color: #a3a3a3ff;
    align-self: stretch;
  }
  .cblock10 {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 0.72rem;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-start;
  }
}